USE [master]
GO
/****** Object:  Database [RetailDb_new]    Script Date: 04/04/2018 12.01.03 ******/
CREATE DATABASE [RetailDb_new]
GO
USE [RetailDb_new]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04/04/2018 12.01.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [char](6) NOT NULL,
	[explanation] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 04/04/2018 12.01.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [char](10) NOT NULL,
	[name] [varchar](30) NULL,
	[address] [varchar](50) NULL,
	[region_id] [varchar](5) NOT NULL,
	[year_of_birth] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Items]    Script Date: 04/04/2018 12.01.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Items](
	[item_id] [char](15) NOT NULL,
	[name] [varchar](50) NULL,
	[stok] [int] NULL,
	[purchasing_price] [money] NULL,
	[selling_price] [money] NULL,
	[category_id] [char](6) NOT NULL,
	[supplier_id] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Purchase_Items]    Script Date: 04/04/2018 12.01.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Purchase_Items](
	[purchase_id] [char](14) NOT NULL,
	[item_id] [char](15) NOT NULL,
	[amount] [int] NULL,
	[purchasing_price] [money] NULL,
	[selling_price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[purchase_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 04/04/2018 12.01.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Purchases](
	[purchase_id] [char](14) NOT NULL,
	[customer_id] [char](10) NOT NULL,
	[salesman_id] [varchar](10) NOT NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 04/04/2018 12.01.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Suppliers](
	[supplier_id] [char](10) NOT NULL,
	[name] [varchar](30) NULL,
	[address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Categories] ([category_id], [explanation]) VALUES (N'CG-001', N'Fashions & Accessories')
INSERT [dbo].[Categories] ([category_id], [explanation]) VALUES (N'CG-002', N'Clothes')
INSERT [dbo].[Categories] ([category_id], [explanation]) VALUES (N'CG-003', N'Beauty')
INSERT [dbo].[Customers] ([customer_id], [name], [address], [region_id], [year_of_birth]) VALUES (N'CUS-000001', N'Bagus Nur Hakim', N'Jakarta', N'WL001', 2010)
INSERT [dbo].[Customers] ([customer_id], [name], [address], [region_id], [year_of_birth]) VALUES (N'CUS-000002', N'Putri Kharisma', N'Yogyakarta', N'WL002', 2009)
INSERT [dbo].[Customers] ([customer_id], [name], [address], [region_id], [year_of_birth]) VALUES (N'CUS-000003', N'Aliany Milawaty', N'Yogyakarta', N'WL002', 2010)
INSERT [dbo].[Items] ([item_id], [name], [stok], [purchasing_price], [selling_price], [category_id], [supplier_id]) VALUES (N'CG-001-IT000001', N'Snapback Hat NY', 50, 135000.0000, 140000.0000, N'CG-001', N'SUP-000001')
INSERT [dbo].[Items] ([item_id], [name], [stok], [purchasing_price], [selling_price], [category_id], [supplier_id]) VALUES (N'CG-001-IT000002', N'Roberto Cavalli Sunglass', 100, 160000.0000, 165000.0000, N'CG-001', N'SUP-000001')
INSERT [dbo].[Items] ([item_id], [name], [stok], [purchasing_price], [selling_price], [category_id], [supplier_id]) VALUES (N'CG-001-IT000003', N'Porsche Design Sunglass', 25, 265000.0000, 275000.0000, N'CG-001', N'SUP-000001')
INSERT [dbo].[Purchase_Items] ([purchase_id], [item_id], [amount], [purchasing_price], [selling_price]) VALUES (N'20160301-00001', N'CG-001-IT000007', 1, 130000.0000, 135000.0000)
INSERT [dbo].[Purchase_Items] ([purchase_id], [item_id], [amount], [purchasing_price], [selling_price]) VALUES (N'20160301-00001', N'CG-003-IT000023', 1, 195000.0000, 199000.0000)
INSERT [dbo].[Purchase_Items] ([purchase_id], [item_id], [amount], [purchasing_price], [selling_price]) VALUES (N'20160301-00001', N'CG-003-IT000025', 1, 235000.0000, 245000.0000)
INSERT [dbo].[Purchases] ([purchase_id], [customer_id], [salesman_id], [date]) VALUES (N'20160301-00001', N'CUS-000002', N'SLM-000001', CAST(N'2016-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Purchases] ([purchase_id], [customer_id], [salesman_id], [date]) VALUES (N'20160301-00002', N'CUS-000005', N'SLM-000003', CAST(N'2016-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Purchases] ([purchase_id], [customer_id], [salesman_id], [date]) VALUES (N'20160301-00003', N'CUS-000001', N'SLM-000001', CAST(N'2016-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Suppliers] ([supplier_id], [name], [address]) VALUES (N'SUP-000001', N'G&R Collection', N'Semarang')
INSERT [dbo].[Suppliers] ([supplier_id], [name], [address]) VALUES (N'SUP-000002', N'Mollersz', N'Jakarta')
INSERT [dbo].[Suppliers] ([supplier_id], [name], [address]) VALUES (N'SUP-000003', N'Tamza Accessories', N'Surabaya')
ALTER TABLE [dbo].[Items]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Purchase_Items]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Items] ([item_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Purchase_Items]  WITH CHECK ADD FOREIGN KEY([purchase_id])
REFERENCES [dbo].[Purchases] ([purchase_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
ON UPDATE CASCADE
GO
USE [master]
GO
